header {
  width: 100%;
  background: $header-background;
  position: fixed;
  top: 0;

  height: 50px;
  .container {
    width: 80%;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 30px;
      margin: 10px 0;
      color: $text-color-one;
    }

    nav {
      text-align: left;
      height: 50px;
      background: $header-background;
      width: 33%;
      display: flex;
      justify-content: space-between;
      a {
        display: inline-block;
        font-size: 25px;
        margin: 15px 0;
        text-decoration: none;
        color: inherit;
      }

      a:hover {
        cursor: pointer;
        color: $text-color-one;
      }
    }
  }
}
