.App {
  padding-top: 300px;
  text-align: center;
}

body {
  background: #232323;
  color: #e8e8e8;
  font-family:Arial, Helvetica, sans-serif;
}

h1{
  font-size: 35px;
}

a{
  font-size: 25px;
  padding: 15px;
}

a:hover{
  cursor: pointer;
  color: #d82934
}
