/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e6e6e6;
  color: #161616;
  font-family: Arial, Helvetica, sans-serif;
}

.content-container {
  width: 70%;
  margin: 0 auto;
}
.content-container .section-container {
  padding: 0 30px;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

header {
  width: 100%;
  z-index: 500;
}
header .container-outer {
  width: 100%;
  height: 50px;
  background: #272727;
  position: fixed;
  top: 0;
}
header .container-outer .container-inner {
  width: 70%;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .container-outer .container-inner h1 {
  font-size: 25px;
  margin: 10px 0;
  color: #cacaca;
}
header .container-outer .container-inner nav {
  text-align: left;
  height: 50px;
  background: #272727;
  width: 33%;
  display: flex;
  justify-content: space-between;
}
header .container-outer .container-inner nav a {
  z-index: 1000;
  display: inline-block;
  font-size: 18px;
  margin: 15px 0;
  text-decoration: none;
  color: #cacaca;
}
header .container-outer .container-inner nav a:hover {
  cursor: pointer;
  color: #cacaca;
}
header .banner {
  margin-top: 50px;
  width: 100%;
  background: red;
  height: 200px;
}

#about {
  z-index: 0;
  position: relative;
  top: -40px;
  height: 40px;
  pointer-events: none;
}

.about-container p {
  padding: 10px 0;
}
.about-container .about-top {
  display: flex;
  justify-content: space-between;
}
.about-container .about-top .about-left {
  width: 48%;
}
.about-container .about-top .about-left p#first {
  padding-top: 24px;
}
.about-container .about-top .about-right {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
}
.about-container .about-top .about-right .image-container {
  width: 100%;
  height: 100%;
  background: red;
  border-radius: 100%;
}
.about-container #technologies-title {
  font-weight: bold;
  font-size: 23px;
  margin: 50px 0 30px;
  text-align: center;
}
.about-container .tech-lists-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.about-container .tech-lists-container .list {
  width: 300px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.about-container .tech-lists-container .list p {
  font-weight: bold;
  margin-bottom: 15px;
}
.about-container .tech-lists-container .list li {
  color: #0084ff;
  margin: 10px 0;
}
.about-container .tech-lists-container .list li:hover {
  cursor: pointer;
}
.about-container .tech-lists-container .vert-line {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container .tech-lists-container .vert-line .line {
  min-height: 90%;
  border-left: 1px solid #161616;
}

#projects {
  position: relative;
  top: -40px;
  height: 40px;
  pointer-events: none;
}

.projects-section .projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.projects-section .projects-container .project-container {
  width: 100%;
  height: 200px;
  margin: 20px 0;
  background: red;
}

/*# sourceMappingURL=App.css.map */
